body {
    background: #FB7E64;
    font-size: 16px;
    font-weight: normal;
    font: normal Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}

#container{
    width:80%;
    margin:auto;
}

#container h1{
  font-family:Courier,sans-serif;
  font-weight:800;
  font-style:normal;
  text-transform:uppercase;
  letter-spacing: 0.2em;
  text-align: center;
}

.button1{
   float:left;
   width:auto;
   font-style:italic
}

.button1:hover{
    background:red;
    color:#fff;
}

.button2{
   float:right;
   width:auto;
   font-style:italic
}

.button2:hover{
    background:red;
    color:#fff;
}

.box-1{
    background-color:##cc9966;
    color:#fff;
    margin:0;
    padding:10px;
    margin:20px 0;
}

.box-1 h1{
    font-family:Courier,sans-serif;
    font-weight:800;
    font-style:normal;
    text-transform:uppercase;
    letter-spacing: 0.2em;
    text-align: center;
}

.categories{
    text-align: center;
    border:5px #ccc solid;
    padding:5px;
    border-radius:5px;
}

.categories ul{
    padding:0;
    list-style:none;
    border-radius: 5px;
}

.categories a:hover{
      color:red;
}

.categories a:active{
      color:green;
}

.categories a:visited{
      color:black;
}

p{
    margin: 5px 10px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 20px;
    border: 5px solid #ccc;
    border-radius: 5px;
    padding:20px;
}

#main-block{
    float:left;
    border-radius: 15px;
    background: #white;
    width: 60%;
    height: 150px;
}

#side-bar{
    float:right;
    width:20%;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

a:link {
  color: green;
}

a:visited {
  color: green;
}

a:hover {
  color: red;
}

a:active {
  color: yellow;
}
